:root {
    --white: #F4FFFD;
    --yellow: #FFBA08;
    --dark-gray: #46494C;
    --mauve: #AF7595; 
    --dew: #DDF2EB; 

    --mono: 'Roboto Mono', monospace;
    --basic: 'Roboto', sans-serif;
  }

*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    background-color: var(--dark-gray);
    line-height: 1.6;
    font-family: var(--basic);
}

#header{
    height: 3rem; 
    background-color: var(--dark-gray);
    display: flex; 
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--mauve);
    position: fixed;
    min-width: 100%;
}

.logo {
    display: flex; 
    width: 15rem; 
    justify-content: space-between;
    align-items: center;
}

#header-img {
    height: 3rem;
    width: 5rem;   
}

.title {
    color: var(--yellow);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .25rem;
    text-transform: uppercase;
    font-family: var(--mono);
}

#nav-bar {
    display: flex; 
    width: 15rem; 
    justify-content: space-around;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    color: var(--dew)
}

.nav-link:hover {
    color: var(--mauve); 
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
}

.spacing {
    padding: 2rem;
}

#product{
    padding: 1rem;
    padding-top: 10rem; 
}

.section-title {
    color: var(--dew); 
    font-size: 2rem; 
    font-family: var(--mono);
    letter-spacing: .20rem;
    font-weight: 400;
    padding: 1rem; 
}

.sub-title {
    color: var(--yellow);
    font-size: 1rem;
    font-family: var(--mono);
    text-align: center;
    letter-spacing: .10rem;
    font-weight: 500;
}

.product {
    display: flex; 
    align-items: center;
    justify-content: space-around;
}

@media only screen and (max-width: 800px) {
    .product {
        flex-direction: column;
    }
}

#video {
    padding: 1rem; 
    border-radius: 2px;
}

strong {
    color: var(--yellow)
}

.product-description {
    color: var(--white);
    font-family: var(--basic); 
    font-weight: 400;
    text-align: justify;
    padding: 1rem; 
    padding-left: 0; 
}

#about {
    padding: 1rem; 
}

.about-cards {
    display: flex; 
    align-items: center;
    justify-content: space-around;
}

.card {
    height: 13rem; 
    width: 11rem; 
    background-color: var(--dew);
    border-radius: .25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, .4);
    transition: all .2s;
}

.card:hover{
    transform: scale(1.1);
    box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, .6);
}

.card-title {
    color: var(--dark-gray);
    font-family: var(--mono);
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: .10rem;
    padding: .5rem; 
}

.card-icon {
    fill: var(--mauve); 
    width: 4rem; 
    height: 4rem; 
    padding: .5rem; 
}

.card-text {
    color: var(--dark-gray);
    font-family: var(--basic);
    font-size: .75rem;
    padding: .5rem;
    text-align: center;
}

#contact {
    padding: 1rem; 
}

#form {
    display: flex; 
    flex-direction: column;
    height: 7rem; 
    align-items: center;
    justify-content: space-around;
}

#email {
    width: 75%; 
    border: none;
    border-radius: 3px;
    font-family: inherit;
    padding: .5rem; 
    color: var(--dark-gray); 
}

#submit {
    background-color: var(--mauve);
    color: var(--white);
    border: none;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
}