:root {
    --white: #F4FFFD;
    --yellow: #FFBA08;
    --dark-gray: #46494C;
    --mauve: #AF7595; 
    --dew: #DDF2EB; 

    --mono: 'Roboto Mono', monospace;
    --basic: 'Roboto', sans-serif;
  }

*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    background-color: var(--dark-gray) ;
    font-size: 62.5%;
    line-height: 1.6;
    font-family: var(--basic);
}

#header{
    height: 3rem; 
    background-color: var(--dark-gray);
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex; 
    width: 15rem; 
    justify-content: space-between;
    align-items: center;
}

#header-img {
    height: 3rem;
    width: 5rem;   
}

.title {
    color: var(--yellow);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .25rem;
    text-transform: uppercase;
    font-family: var(--mono);
}

#nav-bar {
    display: flex; 
    width: 15rem; 
    justify-content: space-around;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    color: var(--dew)
}

.nav-link:hover {
    color: var(--mauve); 
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
}

.section-title {
    color: var(--dew); 
    font-size: 2rem; 
    font-family: var(--basic);
    padding: 1rem; 
}

.product {
    display: flex; 
    align-items: center;
    justify-content: space-around;
}

#video {
    padding: 1rem; 
    border-radius: 2px;
}

strong {
    color: var(--yellow)
}

.product-description {
    color: var(--white);
    font-family: var(--basic); 
    font-weight: 400;
}

